.containerNavigation {
  display: flex;
  margin-top: -10px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.all {
  width: 100%;
  height: 55px;
  background: #68a2ff;
  border: 1.4px solid #68a2ff;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;   
}

.others {
  color: #343a40;
  text-align: center;
  width: 100%;
  height: 55px;
  background: #e9ecef;
  border: 1.4px solid #e9ecef;
  border-radius: 8px;
  cursor: pointer;
}

.containerBtn {
  display: inline-flex;
  width: 80px;
  padding: 20px;
  gap: 20px;
}

.btn_Cinza:hover {
  transition-duration: 650ms;
  background-color: black;
  color: #ffffff;
}

.btn_Rosa:hover {
  transition-duration: 650ms;
  background-color: black;
  color: #ffffff;
}
@media only screen and (max-width: 1080px) {
  .containerBtn {
    width: 100%;
    gap: 20px;
  }

  .containerNavigation {
    flex-direction: column;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .containerBtn {
    width: 100%;
    gap: 20px;
  }

  .containerNavigation {
    flex-direction: column;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 576px) {
  h4.title {
    font-size: 18px;
    height: auto;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .containerBtn {
    width: 100%;
    gap: 20px;
    margin-left: -60px;
  }

  .containerNavigation {
    flex-direction: column;
    margin-top: 30px;
  }
}
